<template name="Timeline">
  <section class="timeline valign-wrapper flex-center">
    <div class="row">
      <div class="large-12 columns center-text">
        <h1 class="text-white">Timeline</h1>
      </div>
    </div>
  </section>
  <section class="cd-timeline">
    <!-- Registration opens -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <img src="img/calendar.svg" alt="Picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Registration opens</h2>
<p>
  Sign up online <a href="#">here</a>.
</p>
        <span class="cd-date">Aug 12</span>
      </div>
    </div>

    <!-- Networking session -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <img src="img/donut.svg" alt="Picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Networking Session</h2>
<p>
  Meet mentors and find potential teammates.  Come right by to find out more about the competition.
</p>
        <span class="cd-date">Aug 24</span>
      </div>
    </div>

    <!-- End of registration -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <img src="img/cart.svg" alt="Picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Registration closes</h2>
        <p>
          Sign up before the deadline!
        </p>
        <span class="cd-date">Aug 26</span>
      </div>
    </div>

    <!-- Block Bootcamp 1 -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <img src="img/usb-drive.svg" alt="Picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Technopreneurship Bootcamp 1</h2>
        <p>
          Learn the ropes of business and tech skills.
        </p>
        <span class="cd-date">Sept 5</span>
      </div>
    </div>

    <!-- Product Development Bootcamp -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <img src="img/free-set-26.svg" alt="Picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Product Development Bootcamp</h2>
        <p>
          Hone your Maker skills here.
        </p>
        <span class="cd-date">Sept 12</span>
      </div>
    </div>

    <!-- Technopreneurship Bootcamp 2 -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <img src="img/free-set-56.svg" alt="Picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Technopreneurship Bootcamp 2</h2>
        <p>
          Level up with yet another round of technopreneurship bootcamps.
        </p>
        <span class="cd-date">Sept 13</span>
      </div>
    </div>

    <!-- Idea launch -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <img src="img/free-set-59.svg" alt="Picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Idea Launch</h2>
        <p>
          Selection of top teams for prototype grants.
        </p>
        <span class="cd-date">Oct 16</span>
      </div>
    </div>

    <!-- Block Demo Day -->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img">
        <img src="img/free-set-50.svg" alt="Picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Demo Day</h2>
        <p>
          Finalists show off their apps.  Are you all set?
        </p>
        <span class="cd-date">Mar 2016</span>
      </div>
    </div>

  </section>
</template>
