<template name="Timeline">
  <div class="bottom-bar">
    <ul class="button-group radius">
      <li><a href="#" class="button tiny info events event-0">Registration opens</a></li>
      <li><a href="#" class="button tiny info events event-1">Networking session</a></li>
      <li><a href="#" class="button tiny info events event-2">Registration closes</a></li>
      <li><a href="#" class="button tiny info events event-3">Technopreneurship bootcamp 1</a></li>
      <li><a href="#" class="button tiny info events event-4">Product development bootcamp</a></li>
      <li><a href="#" class="button tiny info events event-5">Technopreneurship bootcamp 2</a></li>
      <li><a href="#" class="button tiny info events event-6">Idea launch</a></li>
      <li><a href="#" class="button tiny info events event-7">Demo day</a></li>
    </ul>
  </div>
  <section class="timeline valign-wrapper flex-center">
    <div class="row">
      <div class="large-12 columns center-text">
        <h1 class="text-white">Timeline</h1>
      </div>
    </div>
  </section>
  <section class="cd-timeline">
    <!-- Registration opens -->
    <div class="cd-timeline-block event-0-top">
      <div class="cd-timeline-img">
        <img src="img/calendar.svg" alt="Picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Registration opens</h2>
        <p>
          Sign up online <a href="#">here</a>.
        </p>
        <span class="cd-date">Aug 12</span>
      </div>
    </div>

    <!-- Networking session -->
    <div class="cd-timeline-block event-1-top">
      <div class="cd-timeline-img">
        <img src="img/donut.svg" alt="Picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Networking Session</h2>
        <p>
          Meet mentors and find potential teammates. Come right by to find out more about the competition.
        </p>
        <p>
          The briefing details as follow!
        </p>
        <p>
          <b>Date: </b> August 25, Tuesday
        </p>
        <p>
          <b>Time: </b> 6.30pm
        </p>
        <p>
          <b>Venue: </b> NUS Engineering Block EA, Engineering Auditorium
        </p>
        <!-- <span class="cd-date">Aug 25</span> -->
      </div>
    </div>

    <!-- End of registration -->
    <div class="cd-timeline-block event-2-top">
      <div class="cd-timeline-img">
        <img src="img/cart.svg" alt="Picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Registration closes</h2>
        <p>
          Sign up before the deadline!
        </p>
        <span class="cd-date">Sept 5</span>
      </div>
    </div>

    <!-- Block Bootcamp 1 -->
    <div class="cd-timeline-block event-3-top">
      <div class="cd-timeline-img">
        <img src="img/usb-drive.svg" alt="Picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Technopreneurship Bootcamp 1</h2>
        <p>
          Learn the ropes of business and tech skills.
        </p>
        <span class="cd-date">Sept 5</span>
      </div>
    </div>

    <!-- Product Development Bootcamp -->
    <div class="cd-timeline-block event-4-top">
      <div class="cd-timeline-img">
        <img src="img/free-set-26.svg" alt="Picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Product Development Bootcamp</h2>
        <p>
          Hone your Maker skills here.
        </p>
        <span class="cd-date">Sept 6</span>
      </div>
    </div>

    <!-- Technopreneurship Bootcamp 2 -->
    <div class="cd-timeline-block event-5-top">
      <div class="cd-timeline-img">
        <img src="img/free-set-56.svg" alt="Picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Technopreneurship Bootcamp 2</h2>
        <p>
          Level up with yet another round of technopreneurship bootcamps.
        </p>
        <span class="cd-date">Sept 13</span>
      </div>
    </div>

    <!-- Idea launch -->
    <div class="cd-timeline-block event-6-top">
      <div class="cd-timeline-img">
        <img src="img/free-set-59.svg" alt="Picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Idea Launch</h2>

        <p>
          Brought to you by InnoVenture 2015, Idea Launch is the platform for our participating teams to present their winning solutions to this year’s challenging problem statements.
        </p>
        <p>
          The best teams will have their analytical skills and confidence put on a stern test! - So will their ability to convince the crowd, where YOU will have the chance to vote on the best presenter for each problem statement!
        </p>
        <p>
          Not only will there be displays of academic excellence and professional ingenuity, Idea launch presents itself as a great platform for social networking with like-minded individuals and even established personnel from key industrial corporations.
        </p>
        <p>
          The Grand Finale will include an extraordinary SURPRISE LIVE ACT followed by the winner's reception where you all are invited. Light refreshments will be served.
        </p>
        <p>
          Mark your calendar!
        </p>

        <p>
          <b>Date: </b> Oct 13, Tuesday
        </p>
        <p>
          <b>Time: </b> 6pm - 8pm
        </p>
        <p>
          <b>Venue: </b> NUS Engineering Block EA, Engineering Auditorium
        </p>

        <span class="cd-date">Oct 13</span>
      </div>
    </div>

    <!-- Block Demo Day -->
    <div class="cd-timeline-block event-7-top">
      <div class="cd-timeline-img">
        <img src="img/free-set-50.svg" alt="Picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Demo Day</h2>
        <p>
          Finalists show off their prototypes. Are you all set?
        </p>
        <span class="cd-date">Mar 2016</span>
      </div>
    </div>

  </section>
</template>
