/*****************************************************************************/
/* Faq: Style */
/*****************************************************************************/

$blue: #2185c5;
$green: #cdff00;
$pink: #ff3b77;
$green: #105B63;
$grey-med: #52656b;
$gt: 1.618;


@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow: $top $left $blur $color #{$inset};
  -moz-box-shadow: $top $left $blur $color #{$inset};
  box-shadow: $top $left $blur $color #{$inset};
}

@mixin background-splash($filepath, $fallback-color) {
  background-image: url($filepath);
  background-repeat: no-repeat;
  background-position: 0% 40%;
  background-size: cover;
  background-color: $fallback-color;
}

section.faq {
  @include background-splash("img/faq-bg.jpg", $pink);
  height: 40%;
}

.faq-content {
  background: #fff;
  min-height: 70%;
}
