<template name="MasterLayout">
  <div class="nav">

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Innoventure</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon">
          <a href="#">
            <span>Menu</span>
          </a>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="#">Timeline</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Sponsors</a></li>
          <li><a href="#">Contact</a></li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
        </ul>
      </section>
    </nav>
  </div>
  {{> yield}}
  <footer>
    <div class="large-offset-6 large-6 columns">
      <div class="valign-wrapper flex-right">
        <span class="text-white right">
          Copyright (c) Innoventure.
        </span>
        <img class="footer-icon right" src="img/instagram.png" alt="" />
        <img class="footer-icon right" src="img/twitter.png" alt="" />
        <img class="footer-icon right" src="img/facebook.png" alt="" />
      </div>
    </div>
  </footer>
</template>
