/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/

.home {
}

section.page {
  padding: #{$gt}rem 0;
}

@mixin background-splash($filepath, $fallback-color) {
  background-image: url($filepath);
  background-repeat: no-repeat;
  background-position: center;
  // background-size: 100% auto;
  background-size: cover;
  background-color: $fallback-color;
}

section.page-leader {
  @include background-splash('img/cover.jpg', $blue);
  min-height: 80%;
  padding-top: #{2 * $pt}em;
}

h1.leader {
  color: #fff;
}

h2.leader-slogan {
  color: #fff;
  // font-size: #{$gt * 1.7}em;
}

p.leader-details {
  margin-top: #{$gt * 1.1}em;
  color: #fff;
  font-size: #{$gt * .8}em;
}

.padding-med {
  margin: #{$gt}em;
}

.leader-sponsor-logo {
  height: #{$gt * 2}em;
  width: auto;
}

a.outline {
  border: 1px solid white;
  background: rgba(0,0,0,0);
}

// -----------------------------------

section.page-sponsor {
  min-height: 20%;
  background: #fff;
}

// -----------------------------------

section.page-whatis {
  min-height: 100%;
  background: #fff;
}

.whatis-explain {
  max-width: #{20 * $gt}rem
}

// -----------------------------------

section.page-stats {
  min-height: 20%;
  background: $blue;
}

// -----------------------------------

section.page-slogan2 {
  min-height: 30%;
  background: #fff;
}

// -----------------------------------

section.page-dates-overview {
  min-height: 45%;
  background: $pink;
}

// -----------------------------------

section.page-dates-timeline {
  min-height: 30%;
  background: $grey-med;
}

// -----------------------------------

section.page-faq {
  min-height: 70%;
  // background: #fff;
  @include background-splash('img/meaning-bg.jpg', #fff);
}

// -----------------------------------

section.page-proof {
  min-height: 35%;
  background: $green;
}

// -----------------------------------

section.page-sponsors {
  min-height: 70%;
  background: #fff;
}

// -----------------------------------

section.page-cta {
  min-height: 40%;
  background: $pink;
}

// -----------------------------------

section.page-email {
  min-height: 50%;
  background: $blue;
}


/** Typed JS Stuff **/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
