/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/

.home {
}

section.page {
  padding: #{$gt}rem 0;
}

@mixin background-splash($filepath, $fallback-color) {
  background-image: url($filepath);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-color: $fallback-color;
}

section.page-leader {
  @include background-splash('img/cover.jpg', $blue);
  min-height: 80%;
  padding-top: #{2 * $pt}em;
}

h1.leader {
  color: #fff;
}

h2.leader-slogan {
  color: #fff;
  // font-size: #{$gt * 1.7}em;
}

p.leader-details {
  margin-top: #{$gt * 1.1}em;
  color: #fff;
  font-size: #{$gt * .8}em;
}

a.outline {
  border: 1px solid white;
  background: rgba(0,0,0,0);
}

// -----------------------------------

section.page-sponsor {
  min-height: 20%;
  background: #fff;
}

// -----------------------------------

section.page-whatis {
  min-height: 100%;
  background: #fff;
}

.whatis-explain {
  max-width: #{20 * $gt}rem
}

.margin-med {
  margin-bottom: #{1 * $gt}rem;
}

.margin-large {
  margin-bottom: #{3 * $gt}rem;
}

.margin-larger {
  margin-bottom: #{5 * $gt}rem;
}

// -----------------------------------

section.page-stats {
  min-height: 20%;
  background: $blue;
}

// -----------------------------------

section.page-slogan2 {
  min-height: 30%;
  background: #fff;
}

// -----------------------------------

section.page-dates-overview {
  min-height: 30%;
  background: $pink;
}

// -----------------------------------

section.page-dates-timeline {
  min-height: 30%;
  background: $grey-med;
}

// -----------------------------------

section.page-faq {
  min-height: 70%;
  background: #fff;
}

// -----------------------------------

section.page-proof {
  min-height: 35%;
  background: $green;
}

// -----------------------------------

section.page-sponsors {
  min-height: 70%;
  background: #fff;
}

// -----------------------------------

section.page-cta {
  min-height: 40%;
  background: $pink;
}

// -----------------------------------

section.page-email {
  min-height: 40%;
  background: $blue;
}
