<template name="Home">
  <section class="page page-leader valign-wrapper">
    <div class="row">
      <div class="large-12 columns center">
        <div class="center center-text">
          <h1 class="leader">Innoventure 2015</h1>
          <h2 class="leader-slogan">Design / Create / Disrupt</h2>
          <p class="leader-details">
            Startups &middot; Aug 15 - Mar 23 &middot; National University of Singapore
          </p>
          <a href="#" class="button radius outline">Join now</a>
        </div>
      </div>
    </div>
  </section>
  <section class="page page-sponsor valign-wrapper">
    <div class="row">
      <div class="large-12 columns">
        Sponsor information goes here
      </div>
    </div>
  </section>
  <section class="page page-whatis valign-wrapper">
    <div class="row">
      <div class="large-12-columns margin-med">
        <h1 class="">
          Innoventure [ˈɪn əˌvɛn tʃər]
        </h1>
      </div>
      <div class="large-12-columns margin-large">
        <h2>[Origin: NUS] An engineering startup event &bull; to pitch ideas &bull; to make something special &bull; to meet people
        </h2>
      </div>
      <div class="large-12-columns">
        <div class="whatis-explain">
          Started in 2013, NUS Innoventure is an annual competition organized at NUS to pit your engineering skills to the test. Generate an idea. Learn new skills. Meet new people. Testbed. Rinse and repeat. Pitch your idea. Successful teams will make it to subsequent
          rounds. The best gets sponsored.
        </div>
      </div>
    </div>
  </section>
  <section class="page page-stats valign-wrapper">
    <div class="row text-white center-text">
      <div class="small-6 large-2 columns">
        <div id="stats-teams">60</div>
        <div>Teams</div>
      </div>
      <div class="small-6 large-2 columns">
        <div id="stats-hours">12380</div>
        <div>Hours</div>
      </div>
      <div class="small-6 large-2 columns">
        <div id="stats-prizes">$2000</div>
        <div>Prizes</div>
      </div>
      <div class="small-6 large-2 columns">
        <div id="stats-awards">20</div>
        <div>Awards</div>
      </div>
      <div class="small-6 large-2 columns">
        <div id="stats-terms">2</div>
        <div>Terms</div>
      </div>
      <div class="small-6 large-2 columns">
        <div id="stats-startups">40</div>
        <div>Startups</div>
      </div>
    </div>
  </section>
  <section class="page page-slogan2 valign-wrapper">
    <div class="large-12 columns center-text">
      <h2>
        Think of brilliant ideas. Pitch them to investors. Get funded.
      </h2>
    </div>
  </section>
  <section class="page page-dates-overview valign-wrapper text-white">
    <div class="row">
      <div class="large-4 columns">
        <h3 class="text-upper text-white">Bootcamps</h3>
        <p>
          Product Development and Technopreneuership bootcamps to get up and running.
        </p>
      </div>
      <div class="large-4 columns">
        <h3 class="text-upper text-white">Idea Launch</h3>
        <p>
          Kickstart your innovations and get mentored.
        </p>
      </div>
      <div class="large-4 columns">
        <h3 class="text-upper text-white">Demo Day</h3>
        <p>
          Pitch your events to investors and possibly get funded.
        </p>
      </div>
    </div>
  </section>

  <section class="page page-dates-timeline valign-wrapper text-white">
    <div class="row">
      <div class="large-3 columns">
        <h4 class="text-white">Aug 23</h4>
        <h4 class="text-white text-upper">
          Bootcamp 1
        </h4>
      </div>
      <div class="large-3 columns">
        <h4 class="text-white">Sept 23</h4>
        <h4 class="text-white text-upper">
          Bootcamp 2
        </h4>
      </div>
      <div class="large-3 columns">
        <h4 class="text-white">Nov 5</h4>
        <h4 class="text-white text-upper">
          Kickstart
        </h4>
      </div>
      <div class="large-3 columns">
        <h4 class="text-white">Mar 3</h4>
        <h4 class="text-white text-upper">
          Demo Day
        </h4>
      </div>
    </div>
  </section>
  <section class="page page-faq valign-wrapper flex-center">
    <div class="">
      <div class="row">
        <div class="large-4 columns">
          <h4 class="text-blue">How big can teams be?</h4>
          <p>
            Teams should be comprise 4 to 6 people, across various disciplines.
          </p>
        </div>
        <div class="large-4 columns">
          <h4 class="text-blue">Are there fees involved?</h4>
          <p>
            All programme fees will be fully borne by the school. For pullouts, a penalty fee may be involved.
          </p>
        </div>
        <div class="large-4 columns">
          <h4 class="text-blue">I am not a student from NUS. Can I participate?</h4>
          <p>
            All participants must be enrolled in NUS, for AY2015/2016.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <h4 class="text-blue">Can I gain course credit?</h4>
          <p>
            Yes! Engineering students can map this to some course.
          </p>
        </div>
        <div class="large-4 columns">
          <h4 class="text-blue">Another example question.</h4>
          <p>
            This is yet another example question.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="page page-proof valign-wrapper">
    <div class="row">
      <div class="large-12 columns flex-right center-text margin-small">
        <h2>I joined Innoventure in 2014 and benefited much from the training. It was a blast.
        </h2>
      </div>
      <div class="large-12 columns center-text">
        <h5> Johnny Blane, camp participant
        </h5>
      </div>
    </div>
  </section>
  <section class="page page-sponsors valign-wrapper flex-center">
    <div>
      <div class="row margin-large">
        <div class="large-12 columns center-text">
          <h2 class="text-blue">Shoutout to our sponsors.</h2>
          Innoventure partners closely with industry. Here are our sponsors:
        </div>
      </div>
      <div class="row">
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
          <li>Some logo here he rreefwehk cerh wjkrh ewjkrh jkeh rjkwrhkjkh </li>
          <li>Some logo here</li>
          <li>Some logo here</li>
          <li>Some logo here</li>
          <li>Some logo here</li>
          <li>Some logo here</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="page page-cta valign-wrapper flex-center">
    <div>
      <div class="row margin-med">
        <div class="row">
          <div class="large-12 columns">
            <h4 class="text-white">{{currentTweet.text}}</h4>
          </div>
        </div>
        <div class="row margin-larger">
          <div class="large-12 columns">
            <p class="text-white">{{currentTweet.screen_name}} , {{currentTweet.timestamp_ms}}</p>
          </div>
        </div>
        <div class="large-12 columns">
          <h2 class="text-white text-center">Start something special.</h2>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns center-text">
          <a href="#" class="button radius outline">Join now</a>
        </div>
      </div>
    </div>
  </section>
  <section class="page page-email valign-wrapper flex-center center-text text-white">
    <div>
      <div class="row margin-med">
        <div class="large-12 columns">
          <h3 class="text-white text-center">Get in touch.</h3>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p>
            Questions or keen on sponsoring? Write to us at questions@innoventure.com.sg.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
