<template name="Home">
  <section class="page page-leader valign-wrapper">
    <div class="row">
      <div class="large-12 columns center">
        <div class="center center-text">
          <h1 class="leader">Innoventure 2015</h1>
          <h2 class="leader-slogan">Design / Create / Disrupt</h2>
          <p class="leader-details">
            Startups &middot; Aug 15 - Mar 23 &middot; National University of Singapore
          </p>
          <a href="#" class="button radius outline">Join now</a>
        </div>
      </div>
    </div>
  </section>
  <section class="page page-sponsor valign-wrapper">
    <div class="row">
      <div class="large-12 columns">
        Sponsor information goes here
      </div>
    </div>
  </section>
  <section class="page page-whatis valign-wrapper">
    <div class="row">
      <div class="large-12-columns margin-med">
        <h1>
          [ˈɪn əˌvɛn tʃər]
        </h1>
      </div>
      <div class="large-12-columns margin-large">
        <h2>[Origin: NUS] An engineering startup event &bull; to pitch ideas &bull; to make something special &bull; to meet people
        </h2>
      </div>
      <div class="large-12-columns">
        <div class="whatis-explain">
        Started in 2013, NUS Innoventure is an annual competition organized at NUS to pit your engineering skills to the test. Generate an idea. Learn new skills. Meet new people. Testbed. Rinse and repeat. Pitch your idea. Successful teams will make it to subsequent
        rounds. The best gets sponsored.
      </div>
      </div>
    </div>
  </section>
  <section class="page page-stats valign-wrapper">
    <div class="row text-white center-text">
      <div class="small-6 large-2 columns">
        <div>60</div>
        <div>Teams</div>
      </div>
      <div class="small-6 large-2 columns">
        <div>12380</div>
        <div>Hours</div>
      </div>
      <div class="small-6 large-2 columns">
        <div>$2000</div>
        <div>Prizes</div>
      </div>
      <div class="small-6 large-2 columns">
        <div>20</div>
        <div>Awards</div>
      </div>
      <div class="small-6 large-2 columns">
        <div>2</div>
        <div>Terms</div>
      </div>
      <div class="small-6 large-2 columns">
        <div>40</div>
        <div>Startups</div>
      </div>
    </div>
  </section>
  <section class="page page-slogan2 valign-wrapper">
    <div class="large-12 columns center-text">
      <h2>
        Think of brilliant ideas.  Pitch them to investors.  Get funded.
      </h2>
    </div>
  </section>
</template>
