<template name="Home">
  <section class="page-leader valign-wrapper">
    <div class="row">
      <div class="large-12 columns center">
        <div class="center center-text">
          <h1 class="leader">Innoventure 2015</h1>
          <h2 class="leader-slogan">Design / Create / Disrupt</h2>
          <p class="leader-details">
            Startups &middot; Aug 15 - Mar 23 &middot; National University of Singapore
          </p>
          <a href="#" class="button radius outline">Join now</a>
        </div>
      </div>
    </div>
  </section>
</template>
