<template name="Mentors">
  <section class="mentors valign-wrapper flex-center">
    <div class="row">
      <div class="large-12 columns center-text">
        <h1 class="text-white">Meet the mentors.</h1>
      </div>
    </div>
  </section>
  <section class="mentors-list">
    <div class="margin-med">
      &nbsp;
    </div>
    <div class="row">
    </div>
    <div class="row">
      <ul class="small-block-grid-3">
        <li>Some mentor</li>
        <li>Some mentor</li>
        <li>Some mentor</li>
        <li>Some mentor</li>
        <li>Some mentor</li>
      </ul>
    </div>
  </section>
</template>
