<template name="Mentors">
  <section class="mentors valign-wrapper flex-center">
    <div class="row">
      <div class="large-12 columns center-text">
        <h1 class="text-white">Meet the mentors.</h1>
      </div>
    </div>
  </section>
  <section class="mentors-list">
    <div class="margin-med">
      &nbsp;
    </div>
    <div class="row margin-large">
      <ul class="medium-block-grid-3 large-block-grid-3">
        <li>
          <section class="center-text mentor">
            <div class="center crop-circle profile-1 margin-med"></div>
            <h4>
              Mary Chen
            </h4>
            <p>
              Software Engineer, Kelp
            </p>
          </section>
        </li>
        <li>
          <section class="center-text mentor">
            <div class="center crop-circle profile-1 margin-med"></div>
            <h4>
              Mary Chen
            </h4>
            <p>
              Software Engineer, Kelp
            </p>
          </section>
        </li>
        <li>
          <section class="center-text mentor">
            <div class="center crop-circle profile-1 margin-med"></div>
            <h4>
              Mary Chen
            </h4>
            <p>
              Software Engineer, Kelp
            </p>
          </section>
        </li>
        <li>
          <section class="center-text mentor">
            <div class="center crop-circle profile-1 margin-med"></div>
            <h4>
              Mary Chen
            </h4>
            <p>
              Software Engineer, Kelp
            </p>
          </section>
        </li>
      </ul>
    </div>
    <!-- Person -->
    <div class="row">
      <div class="large-12 columns">
        <section class="mentor-detail">
          <h2 class="margin-med">Mary Chen</h2>
          <div>
            <p>
              Mary Chen is someone at some company.
            </p>
            <p>
              She is somewhere doing something.
            </p>
            <p>
              Cool huh.
            </p>
          </div>
        </section>
      </div>
    </div>
    <!-- /Person -->
    <!-- Person -->
    <div class="row">
      <div class="large-12 columns">
        <section class="mentor-detail">
          <h2 class="margin-med">Mary Chen</h2>
          <div>
            <p>
              Mary Chen is someone at some company.
            </p>
            <p>
              She is somewhere doing something.
            </p>
            <p>
              Cool huh.
            </p>
          </div>
        </section>
      </div>
    </div>
    <!-- /Person -->
  </section>
  <div class="margin-large">
    &nbsp;
  </div>
</template>
