/*****************************************************************************/
/* Mentors: Style */
/*****************************************************************************/

$blue: #2185c5;
$green: #cdff00;
$pink: #ff3b77;
$grey-med: #52656b;
$gt: 1.618;


@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow: $top $left $blur $color #{$inset};
  -moz-box-shadow: $top $left $blur $color #{$inset};
  box-shadow: $top $left $blur $color #{$inset};
}

@mixin background-splash($filepath, $fallback-color) {
  background-image: url($filepath);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-color: $fallback-color;
}

.mentors {

}

section.mentors {
  @include background-splash("img/mentors-bg.jpg", $pink);
  height: 40%;
}

section.mentors-list {
  height: 100%;
}

section.card {
  //@include box-shadow(0,1px,1px,#000);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px;
  margin: #{$gt}em;
  .content {
    padding: #{$gt}em;
  }
}

.crop-circle {
    min-width: 200px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
}

.profile-1 {
    background-image: url("img/profiles/profile-mock.png");
}

.profile-1-square {
  height: 100%;
  width: 100%;
  @include background-splash("img/profiles/profile-mock.png", #eee);
}

.mentor-detail {
  border-left: 4px solid #eee;
  padding-left: #{$gt}em;
  margin-bottom: #{$gt * 2}em;
}
