<template name="PastEvents">
  <section class="timeline valign-wrapper flex-center">
    <div class="row">
      <div class="large-12 columns center-text">
        <h1 class="text-white">Past events</h1>
      </div>
    </div>
  </section>

  <section class="contact-content valign-wrapper flex-center">
    <div>
    <div class="row">
      <div class="large-12 columns center-text">
        <h2>2014</h2>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns center-text">
        <h2>2013</h2>
      </div>
    </div>
  </div>
  </section>
</template>
