<template name="Challenge">
  <section class="challenge valign-wrapper flex-center">
    <div class="row">
      <div class="large-12 columns center-text">
        <h1 class="text-white">The challenge</h1>
      </div>
    </div>
  </section>
  <section class="challenge-content valign-wrapper flex-center center-text">
    <div class="row">
      <div class="large-12 columns center-text">
        <div class="row">
          <div class="large-12 columns center-text margin-med">
            <div class="margin-med">
              &nbsp;
            </div>
            Here is a list of challenges:
          </div>
        </div>
        <a href="img/teasers/TeaserCAG-01.jpg">
          <img src="img/teasers/TeaserCAG-01.jpg" alt="slide 1" />
        </a>
        <div class="margin-med">
          &nbsp;
        </div>
        <a href="img/teasers/TeaserDHL-01.jpg">
          <img src="img/teasers/TeaserDHL-01.jpg" alt="slide 1" />
        </a>
        <div class="margin-med">
          &nbsp;
        </div>
        <a href="img/teasers/TeaserMediatek-01.jpg">
          <img src="img/teasers/TeaserMediatek-01.jpg" alt="slide 1" />
        </a>
        <div class="margin-med">
          &nbsp;
        </div>
        <a href="img/teasers/TeaserOFM-01.jpg">
          <img src="img/teasers/TeaserOFM-01.jpg" alt="slide 1" />
        </a>
        <div class="margin-med">
          &nbsp;
        </div>
        <a href="img/teasers/TeaserPUB-01.jpg">
          <img src="img/teasers/TeaserPUB-01.jpg" alt="slide 1" />
        </a>
        <div class="margin-med">
          &nbsp;
        </div>
        <a href="img/teasers/TeaserTTSH-01.jpg">
          <img src="img/teasers/TeaserTTSH-01.jpg" alt="slide 1" />
        </a>
      </div>
    </div>
  </section>
</template>
