<template name="Challenge">
  <section class="challenge valign-wrapper flex-center">
    <div class="row">
      <div class="large-12 columns center-text">
        <h1 class="text-white">The challenge</h1>
      </div>
    </div>
  </section>
  <section class="challenge-content valign-wrapper flex-center center-text">
    <div class="row">
      <div class="large-12 columns center-text">
        <div class="row">
          <div class="large-12 columns center-text margin-med">
            <div class="margin-med">
              &nbsp;
            </div>
            Here is a list of challenges:
          </div>
        </div>
        <div class="row margin-med">
          <div class="large-12 columns center-text">

            <ul class="example-orbit" data-orbit>
              <li>
                <img src="img/teasers/TeaserTTSH-01.jpg" alt="slide 1" />
                <div class="orbit-caption">
                  Challenge statement from Tan Tock Seng Hospital.
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
