<template name="Contact">
  <section class="contact valign-wrapper flex-center">
    <div class="row">
      <div class="large-12 columns center-text">
        <h1 class="text-white">Contact us</h1>
      </div>
    </div>
  </section>
  <section class="contact-content valign-wrapper flex-center">
    <div>
      <div class="margin-med">
        &nbsp;
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <h2>Questions or ideas? Keep us posted!</h2>
          </div>
          <div class="margin-med">
            &nbsp;
          </div>
          <div class="row">
            <div class="large-6 columns right-text text-blue margin-small">
              Email
            </div>
            <div class="large-6 columns">
              innoventure.nus@gmail.com
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns right-text text-blue margin-large">
              Address
            </div>
            <div class="large-6 columns">
              <p>
                9 Engineering Drive 1 Singapore
                <br> Singapore 117576
              </p>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns right-text">
              <a href="https://www.facebook.com/innoventure.com.sg?fref=ts" class="sns"><i class="fi-social-facebook large"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="margin-med">
        &nbsp;
      </div>
    </div>
  </section>
  <div class="map-container">
   {{> googleMap name="exampleMap" options=exampleMapOptions}}
 </div>
</template>
