/*****************************************************************************/
/* Contact: Style */
/*****************************************************************************/

$blue: #2185c5;
$green: #cdff00;
$pink: #ff3b77;
$grey-med: #52656b;

.contact {

}

section.contact {
  height: 50%;
  background: $blue;
}

iframe.google-map {
  width: 100%;
  height: 50%;
}
