/*****************************************************************************/
/* Contact: Style */
/*****************************************************************************/

$blue: #2185c5;
$green: #cdff00;
$pink: #ff3b77;
$grey-med: #52656b;
$gt: 1.618;
$yellow: #ffe11a;

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow: $top $left $blur $color #{$inset};
  -moz-box-shadow: $top $left $blur $color #{$inset};
  box-shadow: $top $left $blur $color #{$inset};
}

@mixin background-splash($filepath, $fallback-color) {
  background-image: url($filepath);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $fallback-color;
}

@mixin style-link($link-color, $visited-color, $hover-color, $active-color) {
  &:link {
    color:$link-color;
  }
  &:visited {
    color:$visited-color;
  }
  &:hover {
    color:$hover-color;
  }
  &:active {
    color:$active-color;
  }
}


section.contact {
  @include background-splash("img/contact.jpg", $blue);
  height: 40%;
}

section.contact-content {
  background: #fff;
  min-height: 70%;
}

.crop-circle {
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
}

.icon-med {
    width: 200px;
    height: 200px;
}

.icon-small {
    width: 100px;
    height: 100px;
}

.profile-1 {
    background-image: url("img/profiles/profile-mock.png");
}

.mentor-footer {
  font-size: 1.7em;
  margin: 0 0.15em;
}

a.sns {
  @include style-link(#000,#000,$yellow,$yellow);
}

.map-container {
  width: 100%;
  height: 40%;
}
