<template name="Contact">
  <section class="contact valign-wrapper flex-center">
    <div class="row">
      <div class="large-12 columns center-text">
        <h1 class="text-white">Contact us</h1>
      </div>
    </div>
  </section>
  <section class="contact-content valign-wrapper flex-center">
    <div>
      <div class="margin-med">
        &nbsp;
      </div>
      <div class="row">
        <div class="large-12 columns center-text">
          <h2>Questions or ideas? Keep us posted!</h2>
        </div>
      </div>
      <div class="contact-general">
        <div class="row">
          <div class="large-12 columns">
            <div class="margin-large">
              &nbsp;
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <h3>General inquiries / Sponsorship</h3>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <div class="margin-med">
              &nbsp;
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns right-text text-blue margin-small">
            Email
          </div>
          <div class="large-6 columns">
            innoventure.nus @ gmail.com
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns right-text text-blue margin-large">
            Address
          </div>
          <div class="large-6 columns">
            <p>
              Institute for Engineering Leadership
              <br>Blk E4, #05-51
              <br>4 Engineering Drive 4
              <br>Singapore 117576
            </p>
          </div>
        </div>
      </div>

      <div class="contact-committee">
        <div class="row">
          <div class="large-12 columns">
            <div class="margin-large">
              &nbsp;
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <h3>Join the committee</h3>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            Keen on mentoring others, or helping with the design or launch of events for 2015 / next steering committee?  Write to us here:
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <div class="margin-med">
              &nbsp;
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns right-text text-blue margin-small">
            Email
          </div>
          <div class="large-6 columns">
            hongwee @ nus.edu.sg
          </div>
        </div>
      </div>

      <div class="margin-med">
        &nbsp;
      </div>

      <div class="contact-social">
        <div class="row">
          <div class="large-12 columns center-text">
            <a href="https://www.facebook.com/innoventure.com.sg?fref=ts" class="sns"><i class="fi-social-facebook large"></i></a>
          </div>
        </div>
      </div>

      <div class="margin-med">
        &nbsp;
      </div>
    </div>
  </section>
  <div class="map-container">
    {{> googleMap name="exampleMap" options=exampleMapOptions}}
  </div>
</template>
