<template name="Ongoing">
  <section class="ongoing valign-wrapper flex-center">
    <div class="row">
      <div class="large-12 columns center-text">
        <h1 class="text-white">Workshop Materials</h1>
        <h3 class="text-white">{{> loginButtons}}</h3>
      </div>
    </div>
  </section>

  <section class="contact-content valign-wrapper flex-center">
    <div>
      <div class="margin-med">
        &nbsp;
      </div>
      <div class="row">
        <div class="large-12 columns center-text">
          {{#if currentUser}}
          <div class="row">
            <div class="large-12 columns">
              <h2>Downloads</h2>
            </div>
          </div>
          <div class="row">
            <table>
              <thead>
                <tr>
                  <th width="700">Bootcamp I</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="https://drive.google.com/file/d/0BzQJFUgEjBDWN0NZMnZod0JYUTg/view?usp=sharing">CPS and MVP</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="https://drive.google.com/file/d/0BzQJFUgEjBDWT3BVUVJmLWdxazQ/view?usp=sharing">Business Model Canvas</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="https://drive.google.com/file/d/0BzQJFUgEjBDWR1pXQU0zcm9lSms/view?usp=sharing">Customer Problem Solution</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="https://drive.google.com/file/d/0BzQJFUgEjBDWclVoN1NQNDZRaWs/view?usp=sharing">Unit Margin and EBITDA</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h2>Slides</h2>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h3>Bootcamp I</h3>
            </div>
          </div>
          <div class="row">
            <ul class="medium-block-grid-1 large-block-grid-1">
              <li>
                <iframe src="https://www.slideshare.net/slideshow/embed_code/key/Eykt6iivLcuSLk" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
                allowfullscreen> </iframe>
                <div style="margin-bottom:5px">
                  <strong> <a href="https://www.slideshare.net/secret/Eykt6iivLcuSLk" title="1. 2015 inno venture biz bootcamp 1" target="_blank">1. 2015 inno venture biz bootcamp 1</a> </strong> from
                  <strong><a href="http://www.slideshare.net/innoventure-nus" target="_blank">innoventure-nus</a></strong>
                </div>
              </li>

              <li>
                <iframe src="https://www.slideshare.net/slideshow/embed_code/key/kQ0CpMblztCDse" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
                allowfullscreen> </iframe>
                <div style="margin-bottom:5px">
                  <strong> <a href="https://www.slideshare.net/secret/kQ0CpMblztCDse" title="Dhl business presentation deck 2 sep 2015 " target="_blank">Dhl business presentation deck 2 sep 2015 </a> </strong> from
                  <strong><a href="http://www.slideshare.net/innoventure-nus" target="_blank">innoventure-nus</a></strong>
                </div>
              </li>

              <li>
                <iframe src="https://www.slideshare.net/slideshow/embed_code/key/ItAPeVz5hpDq1h" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
                allowfullscreen> </iframe>
                <div style="margin-bottom:5px">
                  <strong> <a href="https://www.slideshare.net/secret/ItAPeVz5hpDq1h" title="Media tek innoventure(mediatek presentation)" target="_blank">Media tek innoventure(mediatek presentation)</a> </strong> from
                  <strong><a href="http://www.slideshare.net/innoventure-nus" target="_blank">innoventure-nus</a></strong>
                </div>
              </li>

              <li>
                <iframe src="https://www.slideshare.net/slideshow/embed_code/key/fWjn4TiZ2PhyGW" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
                allowfullscreen> </iframe>
                <div style="margin-bottom:5px">
                  <strong> <a href="https://www.slideshare.net/secret/fWjn4TiZ2PhyGW" title="Nus ofm smart campus master" target="_blank">Nus ofm smart campus master</a> </strong> from
                  <strong><a href="http://www.slideshare.net/innoventure-nus" target="_blank">innoventure-nus</a></strong>
                </div>
              </li>

              <li>
                <iframe src="https://www.slideshare.net/slideshow/embed_code/key/1561WyHmTwX2Zt" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
                allowfullscreen> </iframe>
                <div style="margin-bottom:5px">
                  <strong> <a href="https://www.slideshare.net/secret/1561WyHmTwX2Zt" title="Pub zero water loss cooling technologies inno venture_pub_v2" target="_blank">Pub zero water loss cooling technologies inno venture_pub_v2</a> </strong> from
                  <strong><a href="http://www.slideshare.net/innoventure-nus" target="_blank">innoventure-nus</a></strong>
                </div>
              </li>

              <li>
                <iframe src="https://www.slideshare.net/slideshow/embed_code/key/w9A6rOQ2BcQXon" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
                allowfullscreen> </iframe>
                <div style="margin-bottom:5px">
                  <strong> <a href="https://www.slideshare.net/secret/w9A6rOQ2BcQXon" title="Ttsh hand hygine-pl" target="_blank">Ttsh hand hygine-pl</a> </strong> from
                  <strong><a href="http://www.slideshare.net/innoventure-nus" target="_blank">innoventure-nus</a></strong>
                </div>
              </li>
            </ul>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <h2>Live Q &amp; A</h2>
              <ul>
                <li><a href="https://drive.google.com/open?id=1LX0wB_D6oRy8fhyD5LLfDpsXGpon5-8ccdBSetZtYt0">DHL</a></li>
                <li><a href="https://drive.google.com/open?id=1rKLd8uxJ07MpMEAbDdg4Hd5KWfSeohBKV1QerHjDNMI">MediaTek</a></li>
                <li><a href="https://drive.google.com/open?id=1NnPWslv8tDXCkd3Jp2hNEKNl0_p4afSRuojMekGsx4w">NUS OFM</a></li>
                <li><a href="https://drive.google.com/open?id=1y6FK3cVz7FbqEEXxAVlmkTF_YcnreYcBxzSmSwwEC0M">PUB</a></li>
                <li><a href="https://drive.google.com/open?id=1_TRbvUn_V4l9oP_rNbm8eJ51ReGD793PioL0MTNzQ6U">TTSH</a></li>
              </ul>
              <br>
              <br>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <h2>Groupings</h2>
              <a href="http://www.innoventure.com.sg/grouping">Groupings are located here.</a>
              <br>
              <br>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <h2>Further links</h2>
              <ul>
                <li><a href="https://mysurvey.nus.edu.sg/EFM/se/543BE5C220891CB3">TIP</a></li>
                <li><a href="http://www.tip.eng.nus.edu.sg/programme_product_and_business_plan_competition.html">TIP Info</a></li>
              </ul>
              <br>
              <br>
            </div>
          </div>

          {{/if}}
        </div>
      </div>
    </div>
  </section>
</template>
