<template name="Ongoing">
  <section class="ongoing valign-wrapper flex-center">
    <div class="row">
      <div class="large-12 columns center-text">
        <h1 class="text-white">Workshop Materials</h1>
        <h3 class="text-white">{{> loginButtons}}</h3>
      </div>
    </div>
  </section>

  <section class="contact-content valign-wrapper flex-center">
    <div>
      <div class="margin-med">
        &nbsp;
      </div>
      <div class="row">
        <div class="large-12 columns center-text">
          {{#if currentUser}}
          <div class="row">
            <div class="large-12 columns">
              <h2>Downloads</h2>
            </div>
          </div>
          <div class="row">
            <table>
              <thead>
                <tr>
                  <th width="700">Bootcamp I</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="https://drive.google.com/file/d/0BzQJFUgEjBDWN0NZMnZod0JYUTg/view?usp=sharing">CPS and MVP</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="https://drive.google.com/file/d/0BzQJFUgEjBDWT3BVUVJmLWdxazQ/view?usp=sharing">Business Model Canvas</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="https://drive.google.com/file/d/0BzQJFUgEjBDWR1pXQU0zcm9lSms/view?usp=sharing">Customer Problem Solution</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="https://drive.google.com/file/d/0BzQJFUgEjBDWclVoN1NQNDZRaWs/view?usp=sharing">Unit Margin and EBITDA</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h2>Slides</h2>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h3>Bootcamp I</h3>
            </div>
          </div>
          <div class="row">
            <ul class="medium-block-grid-1 large-block-grid-1">
              <li>
                <iframe src="//www.slideshare.net/slideshow/embed_code/key/I4Tiu08Y54gRx2" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen>
                </iframe>
                <div style="margin-bottom:5px">
                  <strong> <a href="//www.slideshare.net/secret/I4Tiu08Y54gRx2" title="Test presentation" target="_blank">Test presentation</a> </strong> from
                  <strong><a href="//www.slideshare.net/innoventure-nus" target="_blank">innoventure-nus</a></strong>
                </div>
              </li>
            </ul>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </section>
</template>
