@charset "UTF-8";

// @import "normalize.scss";

//local Foundation settings file. Copy it from git repo -> scss/foundation/_settings.scss near main .scss file. Then Uncomment the line below.
@import "settings";

@import "foundation/components/grid.scss";
@import "foundation/components/accordion.scss";
@import "foundation/components/alert-boxes.scss";
@import "foundation/components/block-grid.scss";
@import "foundation/components/breadcrumbs.scss";
@import "foundation/components/button-groups.scss";
@import "foundation/components/buttons.scss";
@import "foundation/components/clearing.scss";
@import "foundation/components/dropdown.scss";
@import "foundation/components/dropdown-buttons.scss";
@import "foundation/components/flex-video.scss";
@import "foundation/components/forms.scss";
@import "foundation/components/icon-bar.scss";
@import "foundation/components/inline-lists.scss";
@import "foundation/components/joyride.scss";
@import "foundation/components/keystrokes.scss";
@import "foundation/components/labels.scss";
@import "foundation/components/magellan.scss";
@import "foundation/components/orbit.scss";
@import "foundation/components/pagination.scss";
@import "foundation/components/panels.scss";
@import "foundation/components/pricing-tables.scss";
@import "foundation/components/progress-bars.scss";
@import "foundation/components/range-slider.scss";
@import "foundation/components/reveal.scss";
@import "foundation/components/side-nav.scss";
@import "foundation/components/split-buttons.scss";
@import "foundation/components/sub-nav.scss";
@import "foundation/components/switches.scss";
@import "foundation/components/tables.scss";
@import "foundation/components/tabs.scss";
@import "foundation/components/thumbs.scss";
@import "foundation/components/tooltips.scss";
@import "foundation/components/top-bar.scss";
@import "foundation/components/type.scss";
@import "foundation/components/offcanvas.scss";
@import "foundation/components/visibility.scss";

// your project styles goes here

/*****************************************************************************/
/* main: Style */
/*****************************************************************************/

$pt: 1.618;

// Color schemes ----------
$footer-bg: #333;
$blue: #2185c5;
$green: #cdff00;
$pink: #ff3b77;
$grey-med: #52656b;
$yellow: #ffe11a;
$light-grey: #ccc;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

@mixin set-text {
  font-family: 'Open Sans';
  font-weight: 300;
}

.valign-wrapper {
  display:flex;
  align-items: center;
}

.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

.full-height {
    min-height: 100%;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

div.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

div.right-text {
  text-align: right;
}

.main {
}

img { -ms-interpolation-mode: bicubic; image-rendering: -moz-crisp-edges; }

/* For mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  // remove all background images if mobile
  body, section {
    background-image: none !important;
  }

  div.nav {
    min-width: 100%;
  }

  .row {
    padding: 0 #{$gt}em !important;
  }
}

.nav-logo {
  height: 3em;
  width: auto;
  margin: 0.7em;
}

/* For laptops and tablets */
@media only screen  and (min-width : 1224px) {
  body {
    overflow-x: hidden;
  }

  div.nav {
    // z-index: 9998;
    // position: absolute;
    min-width: 100%;
  }

  .top-bar {
    // padding-bottom: #{$pt * 2}em;
    // border-bottom:1px solid #fff;
  }
}

body {
  background: #fff;
  @include set-text;
}

h1, h2, h3, h4, h5, h6 {
  @include set-text;
}

h1 {
  // font-size: #{$gt * 3}em;
}

footer {
  //position: fixed;
  background: $footer-bg;
  min-height: #{80 * $gt}px;
  // padding: 2em;
  min-width: 100%;
  padding-top: #{1 * $pt}em;
  //bottom: 0px;
}

.footer-icon {
  padding: 0 #{$pt / 4}em;
}

.footer-text {
  color: #fff;

}

.text-white {
  color: #fff;
}

.text-yellow {
  color: $yellow;
}

.text-blue {
  color: $blue;
}

.text-light-grey {
  color: $light-grey;
}

.text-upper {
  text-transform: uppercase;
}

.margin-small {
  margin-bottom: #{.5 * $gt}rem;
}

.margin-med {
  margin-bottom: #{1 * $gt}rem;
}

.margin-large {
  margin-bottom: #{3 * $gt}rem;
}

.margin-larger {
  margin-bottom: #{5 * $gt}rem;
}

.large {
  font-size: #{$gt * 2}em;
  line-height:20px;
  }

  /* unvisited link */

@mixin style-link($link-color, $visited-color, $hover-color, $active-color) {
  &:link {
    color:$link-color;
  }
  &:visited {
    color:$visited-color;
  }
  &:hover {
    color:$hover-color;
  }
  &:active {
    color:$active-color;
  }
}

a.footer-link {
  @include style-link($light-grey,$light-grey, #fff,#fff);
}

.font-small {
  font-size: 0.8em;
}

.font-footer {
  font-size: 2.1em;
}

@import "../templates/home/home";
